<h1>User list</h1>

<div>
  <% users.forEach(function(u){ %>
    <p>
      name: <%= u.name %> email: <%= u.email %> age: <%= u.age %>
      <a href="/users/<%= u._id %>" id="delete-link" class="btn-sm btn-danger">Delete this person</a>
      <a href="/users/edit/<%= u._id %>" class="btn-sm btn-primary">Edit this person</a>
    </p>
    <hr>
  <% }); %>

  <a href="/" class="btn-sm btn-success">Home</a>
</div>
