<html>
<head>
  <title>All users</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="/js/script.js"></script>
</head>
<body>
  <h1>User list</h1>

  <div>
    <% users.forEach(function(u){ %>
      <p>
        name: <%= u.name %> email: <%= u.email %> age: <%= u.age %>
        <a href="/users/<%= u._id %>" id="delete-link" class="btn-sm btn-danger">Delete this person</a>
        <a href="/users/edit/<%= u._id %>" class="btn-sm btn-primary">Edit this person</a>
      </p>
      <hr>
    <% }); %>

    <a href="/" class="btn-sm btn-success">Home</a>
  </div>
</body>
</html>
